

#pagcarrito{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: #cbd5e1;}


.caja-contenedora {
    display: grid;
padding: 3%;
    gap: 5%;
    column-gap: 5%;
   /* background-color: yellow; */
    height: 100%;

    width: 90vw;
    
    grid-template-areas: 
    "caja1 caja1 caja3"
    "caja2 caja2 caja3";
    

}

.caja {
     background-color: #caedfd;
    /* border: 1px solid black; */
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
       border-radius: 8px;
}

.caja1 {
    display: flex;
   align-items: start;
 grid-area: caja1;
 width: 100%;
 height: 90%;
   column-gap: 5%;
}

.caja2 {
grid-area: caja2;
width: 100% ;
height: 90%;
  column-gap: 5%;
}

.caja3 { 
    display: flex;
grid-area: caja3;
height: 100%;
width: 80%;
  column-gap: 5%;
}

.producto img { 
width: 80px;
}

.card-header1 {
    display: flex;
    justify-content: space-between;
}

.btn btn-primary {
    display: flex;
    align-items: center;
}

.card-footer { 
    display: flex;
    flex-direction: column;
    
}

.cajatotal {
    display: grid;
    gap: 5%;
    grid-template-areas:
    "cajatotal cajamonto";
    width: 100%;
}

.cajamonto {
    display: flex;
    align-items: flex-end;
    
}

.table {
    width: 100%;
}





@media (max-width: 768px) {

    .caja-contenedora {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .caja3 {

        margin-top:50px ;
        margin-left: auto;
        
    }
}