* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #01243c;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;

}

.section1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding-bottom: 40px;
    margin: 10px auto;
    padding-left: 60px;
    max-width: 1500;
    width: 100%;

}

/*Cajas de texto*/
.section1 .Formulario .Form form .inputBox {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

section button {
    cursor: pointer;
}

a {
    text-decoration: none;
}


h2 {
    padding: 20px;
    color: white;
    display: flex;
    justify-content: center;

}


.Ubicacion {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
}




@media (min-width:320px) {
    body {
        width: 100%;
        background-color: #04a1d8;
    }

    .container {
        font-size: small;
    }

    .section1 {
        border: none;
    }

    .section1 .Formulario .Form form .inputBox {
        width: 65%;
    }

    img {
        width: 75px;
    }


    .Mapa-texto {
        font-size: small;
    }

    .Ubicacion .mapa iframe {
        width: 150px;
        height: 150px;
    }

}



@media (min-width:576px) {

    .container {
        font-size: medium;
    }


    .section1 .Formulario .Form form .inputBox {
        width: 80%;
    }

    img{
        width: 200px;
    }


    .Mapa-texto {
        font-size: medium;

    }

    .Ubicacion .mapa iframe {
        width: 250px;
        height: 250px;
    }

}

@media (min-width:768px) {

    body {
        background-color: #01243c;
    }

    .section1 {
        border: 1px solid white;
        width: 750px;
    }

    img {
        width: 350px;
    }

    .Mapa-texto {
        font-size: medium;
    }

    .Ubicacion .mapa iframe {
        width: 300px;
        height: 300px;
    }

}

@media (min-width:1200px) {

    .container {
        font-size: large;
    }

    .section1 .Formulario .Form form .inputBox {
        width: 95%;
    }

    .Mapa-texto {
        font-size: large;
    }

    .Ubicacion .mapa iframe {
        width: 400px;
        height: 400px;
    }

}