
.navbar {
<<<<<<< HEAD
    background-color: rgba(151, 237, 108, 0.934);
=======
    /* background-image: url(../assets/Copilot_20250624_160059.png); */
        background-color: blue;
>>>>>>> 8b3518192c5bd892a393b167e8be5caf823797b4
font-size: 1.3rem;
}

.nav-link {
    color: black;

}

.btn-outline-success {
    color: rgb(0, 0, 0);

}
#buscar{
background-color: blue;
}
.btn.btn{
    background-color: blue;
}
.dropdown-menu{
    background-color: blue;
}

.nav {
    --bs-nav-link-hover-color:blue ;
    font-size: 1.2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}


#logo{
        width: 15%;
        height: auto;
    }
