
.navbar {
    background-color: #cae3fb;
font-size: 1.3rem;
}

.nav-link {
    color: black;

}

.btn-outline-success {
    border: 1px solid #b2d1ef;
    color: rgb(0, 0, 0);
    border: solid 1px #01243c;

}
.btn-outline-success:hover{
    background-color: #b2d1ef;
        border: solid 1px #01243c;

}

.dropdown-menu{
    background-color: white;
}

.nav {
    --bs-nav-link-hover-color: #01243c;
;
    font-size: 1.2rem;
    text-decoration: none;
}

a {
    text-decoration: none;
}


#logo{
        width: 15%;
        height: auto;
    }
.cart-button {
    display: flex;
    align-items: center;
    background-color: #cae3fb;
    color: rgb(9, 0, 0);
    border: 1px solid color black;
    border-radius: 5px;
    padding: 10px 10px;
    cursor: pointer;
    font-size: 1.2rem;
    text-decoration: none;
}

.cart-button:hover {
    background-color: #b2d1ef;
}

.cart-button span {
    margin-left: 10px;
}